<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="form-group">
      <div class="image">
        <h2>Description:</h2>
        <%= form_with(model: @post, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <%= f.text_area :content, class: 'form-control', rows: 10 %>
          <h2>Image:</h2>
          <%= f.file_field :image %>
          <div class="py-3">
            <%= f.submit 'POST', class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
       <%= link_to "cencel", root_path, class: "btn border btn-white btn-block" %>
    </div>
  </div>
</div>
